body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.content {
  width: 960px;
  margin: 5px auto;  
}

.top { 
  padding: 5px 5px 5px 0;
}

.task {
  background: yellow;
  margin: 1px;
  padding: 5px;
}